<?xml version="1.0" ?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="rviz" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find main)/world/turtlebot3_house.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <include file="$(find main)/launch/spawn_rover.launch">
    <arg name="rover_x_pos" value="-3.0" />
    <arg name="rover_y_pos" value=" 1.0" />
    <arg name="rover_z_pos" value=" 0.0" />
    <arg name="rover_yaw"   value=" 0.0" />
  </include>

  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find main)/config/main_config.rviz">
  </node>
 
</launch>