<launch>
  <arg name="navigation" default="false"/>
  <arg name="first_rover"  default="rover_0"/>
  <arg name="second_rover" default="rover_1"/>

  <arg name="first_rover_x_pos" default=" 0.0"/>
  <arg name="first_rover_y_pos" default=" 0.0"/>
  <arg name="first_rover_z_pos" default=" 0.0"/>
  <arg name="first_rover_yaw"   default=" 0.0"/>

  <arg name="second_rover_x_pos" default="-1.0"/>
  <arg name="second_rover_y_pos" default=" 0.0"/>
  <arg name="second_rover_z_pos" default=" 0.0"/>
  <arg name="second_rover_yaw"   default=" 0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>  

  <include file="$(find main)/launch/spawn_multi_rover.launch">
    <arg name="navigation" value="$(arg navigation)"/>
    
    <arg name="first_rover" value="$(arg first_rover)"/>
    <arg name="second_rover" value="$(arg second_rover)"/>

    <arg name="first_rover_x_pos" value="$(arg first_rover_x_pos)"/>
    <arg name="first_rover_y_pos" value="$(arg first_rover_y_pos)"/>
    <arg name="first_rover_z_pos" value="$(arg first_rover_z_pos)"/>
    <arg name="first_rover_yaw"   value="$(arg first_rover_yaw)"/>

    <arg name="second_rover_x_pos" value="$(arg second_rover_x_pos)"/>
    <arg name="second_rover_y_pos" value="$(arg second_rover_y_pos)"/>
    <arg name="second_rover_z_pos" value="$(arg second_rover_z_pos)"/>
    <arg name="second_rover_yaw"   value="$(arg second_rover_yaw)"/>
  </include>

</launch>