<launch>
    <arg name="navigation" default="false"/>
    <arg name="map_file"   default="$(find lidar_navigation)/maps/mymap_empty.yaml"/>

    <arg name="first_rover"  default="rover_0"/>
    <arg name="second_rover" default="rover_1"/>

    <arg name="first_rover_x_pos" default="-3.0"/>
    <arg name="first_rover_y_pos" default=" 1.0"/>
    <arg name="first_rover_z_pos" default=" 0.0"/>
    <arg name="first_rover_yaw"   default=" 0.0"/>

    <arg name="second_rover_x_pos" default="-4.5"/>
    <arg name="second_rover_y_pos" default=" 1.0"/>
    <arg name="second_rover_z_pos" default=" 0.0"/>
    <arg name="second_rover_yaw"   default=" 0.0"/>

    <group ns = "$(arg first_rover)">
        <include file="$(find main)/launch/spawn_rover.launch">
            <arg name="name_rover" value="$(arg first_rover)" />
            <arg name="rover_x_pos" value="$(arg first_rover_x_pos)" />
            <arg name="rover_y_pos" value="$(arg first_rover_y_pos)" />
            <arg name="rover_z_pos" value="$(arg first_rover_z_pos)" />
            <arg name="rover_yaw"   value="$(arg first_rover_yaw)" />
        </include>


        <param if="$(arg navigation)" name="amcl/initial_pose_x" value="$(arg first_rover_x_pos)" />
        <param if="$(arg navigation)" name="amcl/initial_pose_y" value="$(arg first_rover_y_pos)" />
        <include if="$(arg navigation)" file="$(find lidar_navigation)/launch/lidar_navigation.launch">
            <arg name="initial_pose_x" value="$(arg first_rover_x_pos)" />
            <arg name="initial_pose_y" value="$(arg first_rover_y_pos)" />
            <arg name="initial_pose_a" value="$(arg first_rover_yaw)" />
            <arg name="robot_namespace" value="$(arg first_rover)"/>
            <arg name="map_file" value="$(arg map_file)"/>
        </include>

        <node unless="$(arg navigation)" pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 world $(arg first_rover)/odom 1" />
    </group>

    <group ns = "$(arg second_rover)">
        <include file="$(find main)/launch/spawn_rover.launch">
            <arg name="name_rover" value="$(arg second_rover)" />
            <arg name="rover_x_pos" value="$(arg second_rover_x_pos)" />
            <arg name="rover_y_pos" value="$(arg second_rover_y_pos)" />
            <arg name="rover_z_pos" value="$(arg second_rover_z_pos)" />
            <arg name="rover_yaw"   value="$(arg second_rover_yaw)" />
        </include>

        <param if="$(arg navigation)" name="$(arg second_rover_x_pos)/amcl/initial_pose_x" value="$(arg second_rover_x_pos)" />
        <param if="$(arg navigation)" name="$(arg second_rover_x_pos)/amcl/initial_pose_y" value="$(arg second_rover_y_pos)" />
        <include if="$(arg navigation)" file="$(find lidar_navigation)/launch/lidar_navigation.launch">
            <arg name="initial_pose_x" value="$(arg second_rover_x_pos)" />
            <arg name="initial_pose_y" value="$(arg second_rover_y_pos)" />
            <arg name="initial_pose_a" value="$(arg second_rover_yaw)"/>
            <arg name="robot_namespace" value="$(arg second_rover)"/>
            <arg name="map_file" value="$(arg map_file)"/>
        </include>

        <node unless="$(arg navigation)" pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 world $(arg second_rover)/odom 1" />
    </group>

    <node if="$(arg navigation)" name="rviz" pkg="rviz" type="rviz" args="-d $(find main)/config/navigation_config.rviz" />
    <node unless="$(arg navigation)" name="rviz" pkg="rviz" type="rviz" args="-d $(find main)/config/follower_config.rviz" />
</launch>