<?xml version="1.0" ?>
<launch>

    <arg name="name_rover" default="/" />
    <arg name="rover_x_pos" default=" 0.0" />
    <arg name="rover_y_pos" default=" 0.0" />
    <arg name="rover_z_pos" default=" 0.0" />
    <arg name="rover_yaw"   default=" 0.0" />

    <param name="tf_prefix" value="$(arg name_rover)" />
    <param name="robot_description" command="$(find xacro)/xacro '$(find description2)/urdf/robot_rover.urdf.xacro'" />   

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
    </node>
    
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -model $(arg name_rover) 
            -x $(arg rover_x_pos) -y $(arg rover_y_pos) -z $(arg rover_z_pos) 
            -Y $(arg rover_yaw) -param robot_description" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 
 
</launch>